opencv-python==4.8.1.78
pandas==2.2.2
numpy
scipy
pillow==10.1.0
pypdf2==3.0.1
pdf2image==1.16.3
requests
tqdm>=4.67
python-dotenv==1.0.0
anthropic==0.7.8
google-generativeai==0.3.2
agentic-doc
vision-agent
pydantic>=2.8,<3.0
loguru==0.7.2
pathlib==1.0.1
jsonschema>=4.24,<5.0
poppler-utils
pytesseract==0.3.10
protobuf
google-auth
